@page "/service"
@using BikeRental.Frontend.Models
@using Microsoft.AspNetCore.SignalR.Client;
@implements IAsyncDisposable;

@inject HttpClient http
@inject NavigationManager Navigation

<PageTitle>Bicycles service room</PageTitle>

<h1>Bicycles service</h1>
<td><button class="btn btn-secondary" @onclick="@(() => SendToFormularWithImplementationOfNewBicycle())">Add new bicycle</button></td>
<td><button class="btn btn-secondary" @onclick="@(() => SendToFormularWithDeletionOfBicycle())">Scrap bicycle</button></td>

@if (bicycles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Model</th>
                <th>Serial number</th>
                <th>Frame size</th>
                <th>Service day</th>
                <th>Service performed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bicycle in bicycles)
            {
                <tr>
                    <td>@bicycle.ModelName</td>
                    <td>@bicycle.SerialNumber</td>
                    <td>@bicycle.FrameSize.Size</td>
                    <td>@bicycle.StartService</td>
                    <td><button class="btn btn-success" @onclick="@(() => BicycleServisedAndReadyForRent(bicycle))">Serviced</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Bicycle> bicycles;

    private HubConnection? _hubConnection;
    string _message;

    private async Task BicycleServisedAndReadyForRent(Bicycle bicycle) 
    {
        var response = await http.PatchAsJsonAsync($"http://backend-api:80/api/service/done", bicycle);

        if (response.IsSuccessStatusCode)
        {
            RefreshThisPage();
        }
    }

    private async Task SendToFormularWithImplementationOfNewBicycle()
    {
        Navigation.NavigateTo("/newbicycle", true);
    }

    private async Task SendToFormularWithDeletionOfBicycle()
    {
        Navigation.NavigateTo("/deletebicycle", true);
    }

    private async Task RefreshThisPage()
    {
        Navigation.NavigateTo("/service", true);
    }

    protected override async Task OnInitializedAsync()
    {
        bicycles = await http.GetFromJsonAsync<List<Bicycle>>("http://backend-api:80/api/service");

        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://backend-api:80/notifications")
                .Build();
        _hubConnection.On<string>("ReceiveNotification", message =>
        {
            _message = message;
            InvokeAsync(StateHasChanged);
            if (_message == "RefreshServicePage")
            {
                RefreshThisPage();
            }
        });
        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if(_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
